# Config
.env

# Dependencies
/node_modules
/vendor

# Build folder
/public/build
mix-manifest.json

# Content
/public/content/*
!/public/content/.gitkeep
/public/thumbs/*
!/public/thumbs/.gitkeep

# Kirby folders
/public/kirby
/public/admin

# Storage folder
/storage/accounts/*
!/storage/accounts/.gitkeep
/storage/cache/*
!/storage/cache/.gitkeep
