/* ==========================================================================
   BREAKPOINTS
   ========================================================================== */

/**
* Read up! http://sass-mq.github.io/sass-mq/
*
*/

$mq-breakpoints: (
    bp-fallback: 0px,
    bp-phone: 600px,
    bp-tablet: 900px,
    bp-desktop: 1200px,
    bp-big-desktop: 1800px
);

$mq-show-breakpoints: ();

