/* ========================================================================
   SPACING
   ======================================================================== */

/**
*
*/

$space-small: (
        bp-fallback: 10px,
        bp-phone: 10px,
        bp-tablet: 20px,
        bp-desktop: 20px,
);

$space-medium: (
        bp-fallback: 20px,
        bp-phone: 20px,
        bp-tablet: 40px,
        bp-desktop: 40px,
);

$generate-spacing-classes: (
        small: $space-small,
        medium: $space-medium,
);
