{#
 # Base layout
 # ---------------
 #
 #}

{% extends "layouts/_html" %}

{% block page %}

    <div class="js-vueContainer">
        <header class="pageHeader"></header>
    </div>

    <div id="js-barbaWrapper" class="pageContent">
        <main class="js-barbaContainer" data-namespace="{{ block('namespace') }}">
            <div class="js-vueContainerBarba">
                {{ block('main') }}
            </div>
        </main>
    </div>

    {# $cli-hook-layout-footer$ #}

{% endblock %}
