{#
 # Base layout
 # ---------------
 #
 #}

{% extends "layouts/_html" %}

{% block page %}
    <div class="page-wrapper">

        <div class="js-vueContainer">
            <header class="header-page"></header>
        </div>

        <div id="js-barbaWrapper" class="page-content">
            <main class="js-barbaContainer" data-namespace="{{ block('namespace') }}">
                <div class="js-vueContainerBarba">
                    {{ block('main') }}
                </div>
            </main>
        </div>

        {# $cli-hook-layout-footer$ #}

    </div>
{% endblock %}
