{#
 # Home template
 # ---------------
 #
 #
 #}

{% extends "layouts/_layout.twig" %}

{% block page_type %}home{% endblock %}

{% block main %}

    <div>
        <header class="pageTitle">
            <h1>こんにちは！</h1>
        </header>
    </div>


    <section>
        Welcome to the Y7K Kirby Boilerplate
    </section>


{% endblock %}
