/* ==========================================================================
   BREAKPOINTS
   ========================================================================== */

/**
* Read up! http://sass-mq.github.io/sass-mq/
*
*/

$mq-breakpoints: (
    fallback: 0px,
    small:  320px,
    medium:  740px,
    large: 980px,
    wide:    1300px
) !default;

$mq-show-breakpoints: () !default;

