/* ==========================================================================
   #SPACING
   ========================================================================== */

/**
 * Utility classes to put specific spacing values onto elements. The below loop
 * will generate us a suite of classes like:
 *
 *   .u-space-top {}
 *   .u-space-inner-left-large {}
 *   .u-space-right-small {}
 *   .u-space-inner {}
 *   .u-space-inner-right-none {}
 */

/* stylelint-disable string-quotes */

$spacing-directions: (
    null: null,
    '-top': '-top',
    '-right': '-right',
    '-bottom': '-bottom',
    '-left': '-left',
) !default;

$spacing-properties: (
    'margin': null,
    'padding': '-inner',
) !default;

// Loop through directions, properties and breakpoints per spacing
@each $property, $property-namespace in $spacing-properties {
    @each $direction, $direction-namespace in $spacing-directions {
        @each $spacing-name, $spacing-list in $generate-spacing-classes {
            @each $value, $breakpoint-name in $spacing-list {

                @include mq($from: $breakpoint-name) {
                    .u-space#{$property-namespace}#{$direction-namespace}-#{$spacing-name} {
                        #{$property}#{$direction}: $value;
                    }
                }

            }
        }
    }
}

/* stylelint-enable string-quotes */
