/******************************
 *
 *  Margins and Paddings
 *
 ******************************/

// Predefined Spaces (for margins, gutter, etc.)
//
// For the same spaces everywhere, just use "$space-small" etc. as Variable.
// If you need responsive spacing (e.g. 40px on desktop and 20px on mobile) use the
// adaptive spacing mixins (see _layout.scss)
//
// Example:
//
// .box {
//     @extend .space-top--small();
//     @extend .space-bottom--huge();
// }
//
// This will use $space-small, $space-small-phone etc. according to the breakpoints. Adjust the basic spaces below.
//
//
$space-small: 20px;
$space: 30px;
$space-large: 60px;
$space-huge: 100px;

$space-small-m: 20px;
$space-m: 30px;
$space-large-m: 50px;
$space-huge-m: 80px;

$space-small-s: 15px;
$space-s: 20px;
$space-large-s: 40px;
$space-huge-s: 60px;



/******************************
*
*  Grid Setup
*
******************************/


/******************************
 *
 *	Typo
 *
 ******************************/

$f-title: Helvetica, Arial, sans-serif;
$f-text: Helvetica, Arial, sans-serif;

$f-size-title-1: 28px;
$f-size-body-1: 14px;


/******************************
 *
 *	Colors
 *
 ******************************/

$c-text: #000;



/******************************
 *
 *  Breakpoints
 *
 ******************************/

@mixin bp-s() {
    @include bp(667px) { @content };
}

@mixin bp-m() {
    @include bp(1024px) { @content };
}

@mixin bp-l() {
    @include bp(1400px) { @content };
}

@mixin bp($max-width) {
    @media only screen and (max-width: $max-width) {
        @content;
    }
}

@mixin bp-custom($mediaQuery) {
    @media only screen and #{$mediaQuery} {
        @content;
    }
}

