{#
 # Base layout
 # ---------------
 #
 #}

{% extends "layouts/_html" %}

{% block page %}
    <div class="page-wrapper grid-container">

        <header class="header-page">
        </header>

        <div id="barba-wrapper" class="page-content">
            <main class="barba-container" data-namespace="{{ block('namespace') }}">
                {{ block('main') }}
            </main>
        </div>

    </div>
{% endblock %}
