/* ========================================================================
   SPACING
   ======================================================================== */

/**
* Utilizing: https://github.com/meodai/dialog-size
*
* Usage:
* The size() function can be used in three different ways, see sizes.scss.
* Append the desired values you want to retrieve as second parameter like so:
*
* size(0, $s-medium)
*/


$space-small:
        (0.5rem bp-fallback)
        (1rem bp-small)
        (2rem bp-medium isBase)
        (3rem bp-large);

$space-medium:
        (1rem bp-fallback)
        (2rem bp-small)
        (3rem bp-medium isBase)
        (5rem bp-large);

$generate-spacing-classes: (
    small: $space-small,
    medium: $space-medium
);
