/* ==========================================================================
   BREAKPOINTS
   ========================================================================== */

/**
* Read up! http://sass-mq.github.io/sass-mq/
*
*/

$mq-breakpoints: (
    bp-fallback: 0px,
    bp-small:  320px,
    bp-medium:  740px,
    bp-large: 980px,
    bp-wide:    1300px
) !default;

$mq-show-breakpoints: () !default;

