/* ========================================================================
   SPACING
   ======================================================================== */

/**
* TODO
*/

$space-small: (
        bp-fallback: 0.5rem,
        bp-phone: 0.5rem,
        bp-tablet: 1rem,
);

$space-medium: (
        bp-fallback: 1rem,
        bp-phone: 2rem,
        bp-tablet: 3rem,
);

$generate-spacing-classes: (
        small: $space-small,
        small: $space-medium,
);
