 {#
 # SEO Data
 # ---------------
 #
 # This Helper adds SproutSEO tags to the head
 #
 # – Meta tags (title, desc etc.)
 # – Social Media tags (Open Graph etc.)
 # – Structured Data (Schema.org)
 #
 # If SproutSEO is disabled, only the default title gets added
 #
 #}


{% if not craft.plugins.getPlugin('sproutseo' , false).isEnabled() %}
    <title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
{% else %}
    {#
        Outputs all Sprout SEO Meta Data:
        If you want full control and output tags yourself, have a look at
        https://sprout.barrelstrengthdesign.com/craft-plugins/seo/docs/advanced-customization/custom-metadata-variable
    #}
    {% sproutseo 'optimize' %}
{% endif %}
