 {#
 # SEO Data
 # ---------------
 #
 # This Helper adds SproutSEO tags to the head
 #
 # – Meta tags (title, desc etc.)
 # – Social Media tags (Open Graph etc.)
 # – Structured Data (Schema.org)
 #
 # If SproutSEO is disabled, only the default title gets added
 #
 #}


{% if not craft.plugins.getPlugin('sproutseo' , false).isEnabled() %}
    <title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
{% else %}

    {# Prevent Search Engines from indexing the Staging Site #}
    {% if craft.config.appEnv != 'production' %}
        {% do craft.sproutSeo.meta({
            robots: { 'noindex': 1, 'nofollow': 1 }
        }) %}
    {% endif %}

    {# Overwrite Metadata with Custom Sections. For multi-lingual websites #}
    {#{% do craft.sproutSeo.meta({#}
        {#section: 'sproutseo_section:' ~ craft.locale#}
    {#}) %}#}

    {#
        Outputs all Sprout SEO Meta Data:
        If you want full control and output tags yourself, have a look at
        https://sprout.barrelstrengthdesign.com/craft-plugins/seo/docs/advanced-customization/custom-metadata-variable
    #}
    {% sproutseo 'optimize' %}
{% endif %}
