 {#
 # SEO Data
 # ---------------
 #
 # This Helper adds SproutSEO tags to the head
 #
 # – Meta tags (title, desc etc.)
 # – Social Media tags (Open Graph etc.)
 # – Structured Data (Schema.org)
 #
 # If SproutSEO is disabled, only the default title gets added
 #
 #}


{% if not craft.app.plugins.getPlugin('sproutseo') %}

    <title>{% if entry is defined %}{{ entry }} - {% endif %}{{ siteName }}</title>

    {% if craft.app.config.general.appEnv != 'production' %}
        <meta name="robots" content="noindex,nofollow">
    {% endif %}

{% else %}

    {# Prevent Search Engines from indexing the Staging Site #}
    {% if craft.app.config.general.appEnv != 'production' %}
        {% do craft.sproutSeo.meta({
            robots: { 'noindex': 1, 'nofollow': 1 }
        }) %}
    {% endif %}

    {# Set OG Locale. do we need to do this? Doesn't work out of the box. #}
    {#{% set ogLocale = (craft.locale == 'de') ? 'de_DE' : 'en_GB' %}#}

    {# Overwrite Metadata with Custom Sections. For multi-lingual websites #}
    {#{% do craft.sproutSeo.meta({#}
        {#section: 'sproutseo_section:' ~ craft.locale,#}
        {#ogLocale: ogLocale#}
    {#}) %}#}

    {#
        Outputs all Sprout SEO Meta Data:
        If you want full control and output tags yourself, have a look at
        https://sprout.barrelstrengthdesign.com/craft-plugins/seo/docs/advanced-customization/custom-metadata-variable
    #}

    {# UNCOMMENT THIS, WHEN USING SPROUT SEO #}
    {# {% sproutseo 'optimize' %} #}
{% endif %}
