.fl-left { float: left; }
.fl-right { float: right; }

.ta-l { text-align: left; }
.ta-c { text-align: center; }
.ta-r { text-align: right; }

.display-inline-block { display: inline-block; }



// -- TESTING ONLY ------------------------------
// Add Background + Border to everything for testing

// * {
//     background-color: rgba(gray,0.2) !important;
//     outline: 1px solid rgba(red, 0.4) !important;
// }

// ----------------------------------------------




// Add grid/layout classes here
