/* ========================================================================
   TYPO
   ======================================================================== */

$font-title: Helvetica, Arial, sans-serif;
$font-text: Helvetica, Arial, sans-serif;

$font-size-h1: size(1) !default;
$font-size-h2: size(0.8) !default;
$font-size-h3: size(0.6) !default;
$font-size-h4: size(0.4) !default;
$font-size-h5: size(0.2) !default;
$font-size-h6: size(0) !default;


/*
Make your own mixins for font-sizes if needed
 */

@mixin font-size-small() {

    @include font-size(size(small));

    @include mq($from: bp-tablet) {
        @include font-size(size(medium));
    }

}
