{#
 # Debug Grid
 # ---------------
 #
 #}

<div class="debugGrid">
    <div class="debugGrid-cols">
        <div class="debugGrid-col"><div class="debugGrid-colInner"></div></div>
        <div class="debugGrid-col"><div class="debugGrid-colInner"></div></div>
        <div class="debugGrid-col"><div class="debugGrid-colInner"></div></div>
        <div class="debugGrid-col"><div class="debugGrid-colInner"></div></div>
        <div class="debugGrid-col"><div class="debugGrid-colInner"></div></div>
        <div class="debugGrid-col"><div class="debugGrid-colInner"></div></div>
        <div class="debugGrid-col"><div class="debugGrid-colInner"></div></div>
        <div class="debugGrid-col"><div class="debugGrid-colInner"></div></div>
        <div class="debugGrid-col"><div class="debugGrid-colInner"></div></div>
        <div class="debugGrid-col"><div class="debugGrid-colInner"></div></div>
        <div class="debugGrid-col"><div class="debugGrid-colInner"></div></div>
        <div class="debugGrid-col"><div class="debugGrid-colInner"></div></div>
    </div>
</div>
