{#
 # Home template
 # ---------------
 #
 #
 #}

{% extends "layouts/_layout" %}
{% block namespace %}home{% endblock %}

{% block main %}

    <div class="space-top--large">
        <header class="title-page">
            <h1>こんにちは！</h1>
        </header>
    </div>


    <section class="space-top">
        Welcome to the Y7K Craft Boilerplate
    </section>


    <section class="space-top--huge">

    </section>

{% endblock %}
