{#
 # Home template
 # ---------------
 #
 #
 #}

{% extends "layouts/_layout" %}

{% block namespace %}home{% endblock %}

{% block main %}

    <div>
        <header class="pageTitle">
            <h1>こんにちは！</h1>
        </header>
    </div>


    <section>
        Welcome to the Y7K Craft Boilerplate
    </section>


{% endblock %}

{# - SEO ------------------------------------------------------------------ #}
{#{% block seo_data %}#}
    {#{% include 'helpers/seo-data' with {#}
    {#title: entry.title,#}
    {#} only %}#}
{#{% endblock %}#}
{# ------------------------------------------------------------------------ #}
