# Y7K CLI Config

# Environments:
# -------------
#
# You can define multiple environments here that can be used by the CLI to push & pull database and assets.
# The host value can be either the domain (xy.y7k.pizza) or the IP (less warnings).
#
# Run "y7k db:pull pizza" or "y7k assets:push casa" etc.

environments:
  local:
    host: 127.0.0.1
    sshuser: vagrant
    port: 2222
    db: dbname
    dbuser: homestead
    dbpassword: secret
    path: /home/vagrant/pr01-project
    storage: storage/app

  pizza:
    host: 127.0.0.1
    sshuser: forge
    db: dbname
    dbuser: forge
    dbpassword: password
    path: /home/forge/pr01.y7k.pizza
    storage: shared/storage/app

  production:
    host: 127.0.0.1
    sshuser: forge
    db: dbname
    dbuser: forge
    dbpassword: password
    path: /home/forge/project.com
    storage: shared/storage/app
    production: true
