# Config
.env

# Craft License
/craft/config/license.key

# Dependencies
/node_modules
/vendor

# Build folder
/public/build
mix-manifest.json

# Upload Folder
/public/content/*
!/public/content/.gitkeep

# Storage folder
/storage/*
!/storage/.gitkeep
