


/**
 * from https://css-tricks.com/snippets/sass/maintain-aspect-ratio-mixin/
 */

@mixin aspect-ratio($width, $height) {
    position: relative;
    &:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: ($height / $width) * 100%;
    }
    > .content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
    }
}


// Clearfix
//
// For modern browsers
// 1. The space content is one way to avoid an Opera bug when the
//    contenteditable attribute is included anywhere else in the document.
//    Otherwise it causes space to appear at the top and bottom of elements
//    that are clearfixed.
// 2. The use of `table` rather than `block` is only necessary if using
//    `:before` to contain the top-margins of child elements.
//
// Source: http://nicolasgallagher.com/micro-clearfix-hack/

@mixin clearfix() {
    &:before,
    &:after {
        content: " "; // 1
        display: table; // 2
    }
    &:after {
        clear: both;
    }
}

.clearfix {
    @include clearfix();
}





// If you need responsive spacing (e.g. 40px on desktop and 20px on mobile) use the
// adaptive spacing mixins

@mixin generate-space($spaceDir, $spaceType) {
    .space-#{$spaceDir} {

        #{$spaceType}: $space;
        @include bp-m() { #{$spaceType}: $space-m; }
        @include bp-s() { #{$spaceType}: $space-s; }

        &--small {
            #{$spaceType}: $space-small;
            @include bp-m() { #{$spaceType}: $space-small-m; }
            @include bp-s() { #{$spaceType}: $space-small-s; }
        }
        &--large {
            #{$spaceType}: $space-large;
            @include bp-m() { #{$spaceType}: $space-large-m; }
            @include bp-s() { #{$spaceType}: $space-large-s; }
        }
        &--huge {
            #{$spaceType}: $space-huge;
            @include bp-m() { #{$spaceType}: $space-huge-m; }
            @include bp-s() { #{$spaceType}: $space-huge-s; }
        }
    }
}

// If you don't need all kind of spacings, you can disable them here individually
@mixin generate-all-spaces() {
    @include generate-space('all', 'margin');
    @include generate-space('top', 'margin-top');
    @include generate-space('right', 'margin-right');
    @include generate-space('bottom', 'margin-bottom');
    @include generate-space('left', 'margin-left');

    @include generate-space('inner-all', 'padding');
    @include generate-space('inner-top', 'padding-top');
    @include generate-space('inner-right', 'padding-right');
    @include generate-space('inner-bottom', 'padding-bottom');
    @include generate-space('inner-left', 'padding-left');
}

@include generate-all-spaces();
