{#
 # Base layout
 # ---------------
 #
 #}

{% extends "layouts/_html" %}

{% block page %}
    <div class="page-wrapper">

        <header class="header-page">
        </header>

        <div id="js-barbaWrapper" class="page-content">
            <main class="js-barbaContainer" data-namespace="{{ block('namespace') }}">
                <div class="pageContainer">
                    <div class="js-vueContainer">
                        {{ block('main') }}
                    </div>
                </div>
            </main>
        </div>

        {# $cli-hook-layout-footer$ #}

    </div>
{% endblock %}
