{#
 # Base layout
 # ---------------
 #
 #}

{% extends "layouts/_html" %}


{% block page %}
    <div class="page-wrapper grid-container">

        <header class="header-page">
        </header>

        <main class="main">
            {% block main %}{% endblock %}
        </main>

    </div>
{% endblock %}
